error_rate: 0.05 # expected variant allele frequency for the homozygous alternative genotype
overdispersion: 100 # overdispersion reflecting the uncertainty of f for the homozygous case
alpha_h: 2
beta_h: 2
dropout_prob: 0.2
dropout_direction_prob: 0.5
genotype_freq: # prior of the genotype frequencies
  R: 0.25
  H: 0.50
  A: 0.25
mut_freq: 0.5 # prior of frequency of mutated loci during the mutation selection step
random_seed: 0